<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
        <meta content="telephone=no" name="format-detection" />
        <title>商城-我的订单</title>
        <script type="text/javascript">
            (function(doc, win) {
                var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function() {
                    var clientWidth = docEl.clientWidth;
                    if(!clientWidth) return;
                    if(clientWidth >= 750) {
                    docEl.style.fontSize = '100px';
                    } else {
                    docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };
                if(!doc.addEventListener) return;
                win.addEventListener(resizeEvt, recalc, false);
                doc.addEventListener('DOMContentLoaded', recalc, false);
            })(document, window);
        </script>
        <link rel="stylesheet" href="../../css/common.css?i=1128">
        <link rel="stylesheet" href="../../css/api.css">
        <link rel="stylesheet" href="../../css/order_form_all/order_store.css">
        <!-- uint-ui -->
        <script src="https://native.youquanyun.com/uqWeb/js/libs/vue_min.js" charset="utf-8"></script>
        <script src="https://native.youquanyun.com/uqWeb/js/libs/dsbridge.js"></script>
        <style>
            .order_title_top_inp.bg{
                background: #fff;
            }
        </style>
    </head>
<body>
    <div id="vue-app" v-cloak>
        <div class="order_title_top_inp bg">
            <div class="input_search"><img src="./../../image/order_all/search2.png" alt=""></div>
            <input type="text" placeholder="输入订单号查询" v-model="inp_text" @focus="xshou=true" @blur="xshou=false">
            <div @click="input_search()" class="input_search"><img src="./../../image/order_all/xiaocha.png" alt=""
                    v-show="xshou"></div>
            <span @click="cancel()" v-if="inp_text===''">取消</span>
            <span @click="confirm(inp_text)" v-else>确定</span>
        </div>
        <!-- 搜索列表 -->
        <div>
            <div class="danduso order_tab_box">
                <!-- 我的模板 -->
                <div class="order_tab_box_list" v-for="(item, index) in dandusolist" :key="index">
                    <div class="list_box_content">
                        <div class="list_box_top">
                            <div>
                                <span>订单编号：{{item.trade_sn}}</span>
                                <div class="id_copy" @click="id_copy(item.trade_sn)"></div>
                            </div>
                            <span class="id_status">{{item.status_title}}</span>
                        </div>
                        <div class="lsit_box_center"
                            @click="handDetail(item.id)">
                            <div class="id_picture"
                                :style="{background: `url(${item.thumb})50% 50% / cover no-repeat`}">
                            </div>
                            <div class="id_title">
                                <p>{{item.title}}</p>
                                <p><span>￥</span><span>{{item.total_price}}</span></p>
                                <p>×{{item.goods_num}}</p>
                            </div>
                        </div>
                        <div class="list_box_bottom">
                            <div class="list_bottom_isshow">
                                <div>
                                    <div class="isshow_button_a">
                                    </div>
                                    <div class="isshow_button_b">
                                        <span>共{{item.goods_num}}件&nbsp;合计：<span>￥{{item.total_price*item.goods_num}}</span></span>
                                    </div>
                                </div>
                                <div>
                                    <div class="isshow_button_c">
                                        <div v-if="item.status ==='0' "
                                            @click="handShow(item.id,index)">取消订单</div>
                                        <div v-else-if="item.status ==='1' "
                                            @click="refund(item.id)">申请退款</div>
                                        <div v-else-if="item.status ==='2' "
                                            @click="refund(item.id)">申请退款</div>
                                        <!-- <div v-else-if="item.status ==='退款申请中' " @click="jumpTo('/mall/exchange?orderSn='+item.orderSn)">申请退款</div> -->
                                    </div>
                                    <div class="isshow_button_d">
                                        <div v-if="item.status ==='0' "
                                            @click="handDetail(item.id)">去付款</div>
                                        <div v-else-if="item.status ==='2' "
                                            @click="receipt(item.id)">确认收货</div>
                                        <!-- <div v-else-if="item.status ==='待评价' "
                                            @click="jumpTo('/mall/appraise?orderSn='+item.orderSn)">去评价</div> -->
                                        <!-- <div v-else-if="item.status ==='退款申请中' " @click="receipt(index,item.orderSn)">取消退款</div> -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 搜索end -->
        <div class="order_tab_box kong" v-show="kong">
            <img :src="imgConfig.NODATA_IMG || './../../image/kong.png'" alt="">
            <p>{{imgConfig.NODATA_TEXT || '暂无数据~'}}</p>
        </div>    
    </div>
</body>
<script src="https://native.youquanyun.com/uqWeb/js/libs/axios.js"></script>
<script src="https://native.youquanyun.com/uqWeb/js/utils.js" charset="utf-8"></script>
<!-- <script src="https://native.youquanyun.com/uqWeb/js/http.js?i=201911211908"></script> -->
<script src="../../js/http.js?i=201911211908"></script>
<script src="https://native.youquanyun.com/uqWeb/js/libs/qs.js" charset="utf-8"></script>
<script type="text/javascript">
    window.vueObj = new Vue({
        el: '#vue-app',
        data: {
            xshou: false, //input框小x的显示隐藏
            inp_text: '',//搜索的值
            dandusolist: [],
            kong: true
        },
        methods: {
            //小叉
            input_search: function () {
                this.inp_text = "";
            },
            // 确定搜索
            confirm: function (inp_text) {
                Http.post(Http.HOST + Http.API_URL.ALLORDERLIST, { order_sn: this.inp_text ,order_status:"all"}, true).then((res) => {
                    // console.log("发送了我的订单号",this.inp_text)
                    if (res.data.length != 0) {
                        this.kong = false
                        this.dandusolist = res.data;
                        console.log(this.dandusolist)
                    } else {
                        this.kong = true
                    }
                })
                this.inp_text = "";
            },
            cancel: function (){
                dsBridge.call('closeWin')
            },
            refund (id){
                dsBridge.call("open", { url: Http.HOST+'/uqWeb/html/miaoshengOrder/refund.html?order_id='+id, type: 'web' })
                // window.location.href = 'http://172.16.1.239:3000/uqWeb/html/miaoshengOrder/refund.html?order_id=' +id
            },
            jumpTo: function (path) {
                dsBridge.call('openWin', path);
                this.reset()
            },
            // 进商品详情
            handDetail: function (order,) {
                this.jumpTo('/mall/orderDetailAct?order=' + order)
            },
            // 我的订单下的tab
            getListIn: function (type,index) {
                this.navcurrent = index
                this.tabcalss = type
                console.log(this.tabcalss)
                this.reset()
            },
            reset(){
            this.dandusolist = []
            this.mescroll.setPageNum(1);
            this.mescroll.resetUpScroll()
            },
            //搜索
            search: function () {
                console.log(3)
                dsBridge.call("open", { url: Http.HOST+'/uqWeb/html/miaoshengOrder/order_store_chmy.html', type: 'web' })
                // window.location.href = 'http://172.16.1.239:3000/uqWeb/html/miaoshengOrder/order_store_chmy.html'
            },
            // 返回
            onBack: function (ret, err) {
                dsBridge.call('closeWin')
            },
            // 复制
            id_copy: function (order_id) {
                dsBridge.call("clipBoard", {
                    value: order_id
                })
            },
            // 订单删除
            orderDel: function (order_id, orderSn, index) {
                console.log(order_id);
                this.$messagebox({
                    title: '删除订单',
                    message: '确定要删除订单吗？',
                    showCancelButton: true
                }).then(action => {
                    // console.log(action)
                    if (action == "confirm") {
                        this.list.splice(index, 1)
                        Http.post(Http.HOST + Http.API_URL.DELDINGDAN, {
                            orderSn: orderSn
                        }, true).then((res) => {
                            // window. location.reload()
                            this.reset()
                        })
                    } else {
                        // console.log("取消")
                    }
                });
            },
            // 取消订单
            handShow: function (order_id, index) {
                // console.log(order_id,orderSn)
                this.$messagebox({
                    title: '取消订单',
                    message: '确定要取消订单吗？',
                    showCancelButton: true
                }).then(action => {
                    if (action == "confirm") {
                        console.log(order_id)
                        this.list.splice(index, 1)
                        Http.post(Http.HOST + Http.API_URL.CANCELORDER, {
                            order_id: order_id
                        }, true).then((res) => {
                            this.reset()
                        })
                    } else {
                        // console.log("取消")
                    }
                });
            },

            // 确认收货
            receipt: function (order) {
                this.$messagebox({
                    title: '确认收货',
                    message: '确定要确认收货吗？',
                    showCancelButton: true
                }).then(action => {
                    if (action == "confirm") {
                        Http.post(Http.HOST + Http.API_URL.CONFIRMRECEIPT, {
                            order_id: order
                        }, true).then((response) => {
                            this.reset()
                            this.list.splice(index, 1)
                        })
                    }
                })
            },
        }
    })
</script>
</html>